# 🔐 Локальные переменные окружения (секреты)
.env

# 📦 Node.js (React frontend)
react-app/node_modules/
react-app/dist/

# 🐳 Docker volumes, logs, временные файлы
*.log
**/.DS_Store
docker-compose.override.yml
data/

# 📝 IDE / редактор
.vscode/
.idea/

# 🚫 Git-папка (не обязательно, но пусть будет)
.git
